 <h1>Cities Development</h1>

 <button (click)="showForm=true">AddCity</button>

 <div [hidden]="showForm">
    <div *ngFor="let c of cities" >{{c.Name}}
     <button (click)="Edit(c.Id)">Edit</button>
     <button (click)="this.Delete(c.Id)" >Delete</button>
    </div>
    
 </div>

  

   
   <app-rows *ngFor="let row of  rows"  title='{{row.name}}' status='{{row.status}}' 
    id="ch-{{row.id}}" (onChecked) ="GetAllchecks()"   > </app-rows>





 <div [hidden]="!showForm">
   
    <form [formGroup]="cityForm">
     <label >City</label>
    <input type="text" placeholder="City Name" formControlName="Name" >
    <input  type="submit" (click)="Submit()">
   </form>
 </div>
