<div class="scroll-out">
    <div class="floor about">
        <h2 class="page-title">About Me</h2>
        <p class="top15"> Fusce elementum, erat quis volutpat porta, neque erat venenatis massa, ut tincidunt eros est nec diam. </p>
        <ul class="list top15 bottom30">
            <li><span>Date of birth :</span> March 19, 1988</li>
            <li><span>Address :</span> Santa Monica Boulevard Los Angeles</li>
            <li><span>Email :</span> albertorecoba@tmail.com</li>
            <li><span>Phone :</span> + 123 456 789 456</li>
            <li><span>Skype :</span> alberto_recoba</li>                            
        </ul>
        <a href="#" class="recoba-btn2">HIRE ME</a>
        <a href="#" class="recoba-btn">DOWNLOAD RESUME</a>
        <!-- Skills -->
        <h3 class="subtitle top60">My Skills</h3>
        <ul class="skill-list top30">
            <li> 
                <h3>Web Design</h3>
                <div class="progress">
                    <div class="percentage" style="width:80%;"></div>
                </div>
            </li>
            <li> 
                <h3>Development</h3>
                <div class="progress">
                    <div class="percentage" style="width:60%;"></div>
                </div>
            </li>
            <li> 
                <h3>Marketting</h3>
                <div class="progress">
                    <div class="percentage" style="width:30%;"></div>
                </div>
            </li>
            <li> 
                <h3>Photography</h3>
                <div class="progress">
                    <div class="percentage" style="width:75%;"></div>
                </div>
            </li>
        </ul>
        <!--What I'm Doing-->
        <h3 class="subtitle top60">What I'm Doing</h3>                       	
        <div class="row top30">
            <div class="col-md-6 features">
                <i data-icon="1" class="icon"></i>
                <h3>Web Design</h3>
                <p> Fusce elementum, erat quis volutpat porta, neque erat venenatis massa. </p>
            </div>
            <div class="col-md-6 features">
                <i data-icon="0" class="icon"></i>
                <h3>Application</h3>
                <p> Fusce elementum, erat quis volutpat porta, neque erat venenatis massa. </p>
            </div>
            <div class="col-md-6 features">
                <i data-icon="!" class="icon"></i>
                <h3>Development</h3>
                <p> Fusce elementum, erat quis volutpat porta, neque erat venenatis massa. </p>
            </div>
            <div class="col-md-6 features">
                <i data-icon="C" class="icon"></i>
                <h3>Photography</h3>
                <p> Fusce elementum, erat quis volutpat porta, neque erat venenatis massa. </p>
            </div>
        </div>
        <!--Testimonials -->
        <h3 class="subtitle top30">Testimonials</h3>
        <div id="testimonial" class="owl-carousel owl-theme testimonial top30">
        
        <!--slide item -->
          <!--slide item -->
          <div class="item">
            <div class="testi-profile">
                <img src="../assets/images/person-1.jpg" alt="">
                <div class="testi-name">
                    <h3>Dustin F. Barnett </h3>
                    <span>Ceo & Founder</span>
                </div>
            </div>
              <p> “For norland produce age wishing. To figure on it spring season up. Her provision acuteness had excellent two why intention. As called mr needed praise at. Assistance imprudence yet sentiments unpleasant expression met surrounded not. Be at talked ye though secure nearer. 
”</p>
          </div>
          <!--slide item -->
          <div class="item">
            <div class="testi-profile">
                <img src="../assets/images/person-2.jpg" alt="">
                <div class="testi-name">
                    <h3>Dustin F. Barnett </h3>
                    <span>Ceo & Founder</span>
                </div>
            </div>
              <p> “Mind what no by kept. Celebrated no he decisively thoroughly. Our asked sex point her she seems. New plenty she horses parish design you. Stuff sight equal of my woody. Him children bringing goodness suitable she entirely put far daughter. ”</p>
          </div>
          <!--slide item -->
          <div class="item">
            <div class="testi-profile">
                <img src="../assets/images/person-3.jpg" alt="">
                <div class="testi-name">
                    <h3>Dustin F. Barnett </h3>
                    <span>Ceo & Founder</span>
                </div>
            </div>
              <p> “Rooms oh fully taken by worse do.Was out laughter raptures returned outweigh. Luckily cheered colonel me do we attacks on highest enabled. Tried law yet style child.”</p>
          </div>
        </div>
        
    </div>
    </div>