<div class="scroll-out">
    <div class="floor contact">
           <h2 class="page-title">Contact</h2>
        <p class="top15">Mauris sed libero metus. Cras tellus enim, ultrices vel mauris ac, mattis finibus turpis. Nullam eu risus laoreet, posuere ipsum nec, lobortis mi. </p>
        <ul class="list top15 bottom15">
            <li><span>Phone :</span> + 123 456 789 456</li>
            <li><span>Address :</span> Santa Monica Boulevard Los Angeles</li>
            <li><span>Email :</span> albertorecoba@tmail.com</li>
            <li><span>Skype :</span> alberto_recoba</li>                            
        </ul>
        <div class="social">
            <a class="facebook" href="#"><i class="fa fa-facebook"></i> </a>
            <a class="twitter" href="#"><i class="fa fa-twitter"></i> </a>
            <a class="google" href="#"><i class="fa fa-google-plus"></i> </a>
            <a class="instagram" href="#"><i class="fa fa-instagram"></i> </a>
            <a class="behance" href="#"><i class="fa fa-behance"></i> </a>
        </div>
        <!--Contact Form-->
        <div class="row">
            <form class="col-md-12 contact-form" method="POST" action="mail.php">
            <h3 class="subtitle top45 bottom30">Get In Touch</h3>
                <!--Name-->
                <input id="con_name" name="con_name" class="form-inp requie" type="text" placeholder="Name">
                <!--Email-->
                <input id="con_email" name="con_email" class="form-inp requie" type="text" placeholder="Email">
                <!--Message-->
                <textarea name="con_message" id="con_message" class="requie" placeholder="Message" rows="8"></textarea>
                <input id="con_submit" class="but-big" type="submit" value="SEND A MESSAGE">
            </form>
        </div>
        <!--map-->
        <h3 class="subtitle top45 bottom30">Contact Map</h3>
          <div id="map"></div>	 
    </div>
    </div>