
<main class="cs-page-wrapper">
    <app-head></app-head>

       <!-- Slanted background-->
       <div class="position-relative bg-gradient" style="height: 480px;">
        <div class="cs-shape cs-shape-bottom cs-shape-slant bg-secondary d-none d-lg-block">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
            <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
          </svg>
        </div>
      </div>

       <!-- Page content-->
      <div class="container bg-overlay-content pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
               <!-- Sidebar-->
            <app-side-bar class="col-lg-4 mb-4 mb-lg-0"></app-side-bar>
            
            <app-order-page class="col-lg-8"></app-order-page>
        </div>
        </div>

               
</main>
<app-footer></app-footer>