<div class="floor home-page">
    <div class="home-box">
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Template</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a   routerLink ="personal/home" >Home</a></li>
                <li class="active"><a   routerLink ="city" >City</a></li>
                <li class="active"><a   routerLink ="personal/resume" >Resume</a></li>
                <li class="active"><a   routerLink ="personal/about" >About</a></li>
                <li class="active"><a   routerLink ="personal/portfolio" >Portfolio</a></li>
                
                 
              </ul>
            </div>
          </nav>
        <router-outlet></router-outlet>
        <img class="signature" src="../assets/images/signature.png" alt="">
    </div>
</div>
