<div class="d-sm-flex justify-content-between mb-3 pb-1">
    <div class="order-item media media-ie-fix d-block d-sm-flex mr-sm-3"><a class="d-table mx-auto" href="#">
      <img class="d-block rounded" width="105" src="{{img}}" alt="Thumbnail"/></a>
      <div class="media-body font-size-sm pt-2 pl-sm-3 text-center text-sm-left">
        <h5 class="nav-heading font-size-sm mb-2"><a href="#">{{item.title}}</a></h5>
        <div><span class="text-muted mr-1">Size:</span>XS</div>
        <div><span class="text-muted mr-1">Color:</span>Blue</div>
      </div>
    </div>
    <div class="font-size-sm text-center pt-2 mr-sm-3">
      <div class="text-muted">Quantity:</div>
      <div class="font-weight-medium">{{item.quantity}}</div>
    </div>
    <div class="font-size-sm text-center pt-2">
      <div class="text-muted">Subtotal:</div>
      <div class="font-weight-medium">{{item.price}}</div>
    </div>
  </div>